body {
  background: #121212;
  color: white;
  text-align: center;
  font-family: Arial;
}

.container {
  margin-top: 50px;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}